
@media (max-width: 1200px){

    .home-conteiner {

        margin-left: 0px;
    }


    .home-conteiner {

        margin-left: 70px; /* section home */
    }

    /* form */
    .conteiner-form {

        flex-direction: column;
    }
    .form-row  {

        flex-direction: column;
        align-items: center;
    }
    .form-field {
        width: 380px;
        height: 70px;
    }
    .form-row-left h5 {
        display: none;
    }  
    .text-block_item {

        display: none;

    }
    .text-service__block-mobile {

        display: flex;
    }
    .form-row-left {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 0px;
    } 

    .form {

        height: 600px;
    } 
    .text-form-top-mobile  {
        display: block;
        text-align: center;

    } 

    /* form */

}
@media (max-width: 1071px){

    /*  showroom */
    .showroom-conteiner {

        height: 1200px;
    }
    /*  showroom */
    .reviews {


        height: 250px;


    }


}
@media (max-width: 1100px){

    .reviews {

        height: 400px;
    }
}
@media (max-width: 1100px){

    .urban-conteiner {/* section urban */

        margin-left: 500px;
    }
   
}
@media (max-width: 974px){

    /* our service */
    .service-image {

        height: 700px;
    }
    /* our service */

}

@media (max-width: 870px){

    /* top navigation */
    .conteiner-top-head {

        display: none;
    }
    .horizontal-bar {   /* top navigation  line*/

        display: none;
    }

    /* top navigation */
}

@media (max-width: 749px){

    .custom-line {

        display: flex;
    }
    .reviews-conteiner  {

        flex-direction: column;
    }

    
}
@media (max-width: 750px){

    /* section review */
    .reviews {
        height: 750px;
    }  
    /* section review */

}

@media (max-width: 784px){

    .footer-description {

        display: none;


    }
    .footer-image {

        background-image: url(../FRONT/image/footer-mobile2.png);
        width: 100%;
        height: 830px;


    }

    /* our home-first page */
    .home-conteiner {
        
        display: none;
    } 
    .home-mobile {

        display: flex;
    } 
    .home-image {

        background-image: url(../FRONT/image/home-planshet.png);
        width: 100%;
        height: 820px;


    }
    /* our home-first page */

    /* our urban-first page */
    .urban-conteiner {

        display: none;
    }
    .urban-planshet {

        display: flex;
        height: 600px;

    }
    .urban-image {

        background-image: url(../FRONT/image/urban-planshet.png);
        width: 100%;
        height: 820px;
        display: flex;
        align-items: center;
        background-size: cover;
        background-position: center;
        flex-direction: row;
        justify-content: center;


    }
    .footer-description-mobile_conteiner {

        display: flex;
        justify-content: center;
        width: 100%;
       align-items: center;
        background-color:#E9EBEB;
    }
}

@media (max-width: 639px) {
    .service-image {
        height: 1000px;
    }
}

@media (max-width: 560px) {
    

    /*  showroom card */
    .showroom-card {

        width: 320px;
        height: 150px;

    }
    .showroom-item h5 {

        font-size: 15px;
    }
    .showroom-description p { 

        font-size: 15px;
    }
    .card-conteiner {

        margin-top: 10px;
        gap: 5px;
    }

    .showroom-conteiner {
        height: 900px;
        gap: 30px;
    }    
    /*  showroom card */


}
@media (max-width: 480px) {
    /* page home */
    .home-items p{

        font-size: 16px;

    }
    .home-description h1{

        font-size: 45px;
    }
    .home-page h2{

        font-size: 22px;
    
    }
    .home-text {

        margin-top: 20px;
    }
    .home-conteiner-mobile {

        gap:0;
    }
    /* page home */

    /* page urban */
    .urban-title h3 {

        font-size:45px;
    }
    .urban-title {

        max-width: 350px;
        padding: 10px;
    }
    /* page urban */


    /* page service */

    .urban-planshet{

        height: 800px;
    }

    .service-btn-conteiner {
    
        display: none;
    }
    .service-image {
        height: 900px;
    }
    .service-conteiner_card {

        margin-top: 40px;
    }
    /* page service */

     /* page reviews */
    .reviews-description h6 {

        font-size: 16px;

    }
    .footer-text {

        max-width: 350px;
    }
     /* page reviews */
}
